main {
    display: grid;
    grid-template-rows: 30px 1px auto;
    height: 1000px;
}

.main-menu-container {
    background-color: #495057;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.main-menu a {
    text-decoration: none;
    color: white;
}

.main-menu a:hover {
    font-size:large;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-menu .active{
    font-size:large;
    font-weight:bold;
}


.c-example-divider {
    /* background-color: rgba(224, 94, 14, 0.842); */
    background-color: #79dfc1;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(224, 94, 14, 0.353), inset 0 .125em .5em rgba(224, 94, 14, 0.353);  
}

.content {
    background-color: #1b1f22;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
}
.content a {
    color: rgba(110, 168, 254);
}
.symbol {
    text-decoration: none;
}
.bi {
    fill: white
}
.student .bi {
    fill: black
}